* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-height: 650px;
}
body {
  overflow-x: hidden;
  justify-content: center;
}

.container {
  position: fixed;
  max-width: 100%;
  height: auto;
  display: block;
  background: url(./green-shoe.png) fixed content-box padding-box no-repeat top
    center / 100px 200px;
  box-shadow: 10px 5px 5px black;
}
.clock {
  transform: scale(0.8);
  display: flex;
  
  text-align: center;

  &__item {
    height: 105px;
    margin: 0 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 13px;
    background-color: lime;
    color: #ffcc00;
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    box-shadow: 10px 10px 60px lime, -5px -5px 30px green;
  }
}

.div2 {
  border-top: 530px solid #ffcc00;
  border-bottom: 100px solid transparent;
  border-right: 1100px solid transparent;
}

.div3 span {
  position: absolute;
  top: 20px;
  width: 170px;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  font-family: arial;
  transform: rotate(-45deg);
}

.ribbon span {
  width: 120px;
  height: 50px;
  top: 50%;
  left: 50%;
  position: absolute;
  background: black;
  font-family: arial;
  font-weight: 900;
  text-align: center;
  font-size: 36px;
  color: white;
  justify-content: center;
  text-decoration: line-through;
  text-decoration-color: black;
  transform: translate(50%, -90%);
}
.price span {
  width: 120px;
  height: 50px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-20%, -10%);
  background: #ff0000;
  font-family: arial;
  font-weight: 900;
  text-align: center;
  font-size: 36px;
  color: white;
  justify-content: center;
  border-radius: 5px;
}

button {
  width: 300px;
  height: 130px;
  top: 10%;
  left: 30%;
  position: absolute;
  transform: translate(-30%, 50%);
  font-weight: 700;
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 30px;
  font: 45px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  transition: 1.3s ease-in-out;
  letter-spacing: 2px;
  animation: rotateButton 4s linear forwards;
  animation-iteration-count: 1;
  &:hover {
    background: #df580a;
  }
}

@keyframes rotateButton {
  20% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-3deg);
  }
  32% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(0);
  }
}

$breakpoints: (
  "extrasmall": (
    min-width: 300px,
  ),
  "small": (
    min-width: 767px,
  ),
  "medium": (
    min-width: 992px,
  ),
  "large": (
    min-width: 1200px,
  ),
) !default;

/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@include respond-to("extrasmall") {
  .container {
    background-color: green;
    background-position-x: auto;
    background-position-y: 51vh;
    background-size: 480px 230px;
  }
  .div2 {
    @include respond-to("extrasmall") {
      border-top: 480px solid #ffcc00;
      border-bottom: 0px solid transparent;
      border-right: 600px solid transparent;
    }
  }
  button {
    padding: 20px;
    left: 39%;
  }
  .clock {
    margin-top: 20px;
    margin-left: 30px;
  }
}
@include respond-to("small") {
  .container {
  background-position-x: auto;


  }
  .div2 {
    border-top: 500px solid #ffcc00;
    border-bottom: 100px solid transparent;
    border-right: 800px solid transparent;
  }
}
@include respond-to("medium") {
  .container {
  background-position-x: auto;


  }
  .div2 {
    border-top: 500px solid #ffcc00;
    border-bottom: 100px solid transparent;
    border-right: 1100px solid transparent;
  }
}
@include respond-to("large") {
  .container {
  
    background-position-x: 110vh;
    background-size: 580px 310px;
  }

  .div2 {
    border-top: 530px solid #ffcc00;
    border-bottom: 100px solid transparent;
    border-right: 1300px solid transparent;
  }
}
